body {
    background-color: #0b362e;
    margin: 0;
    font-family: helvetica;
    color: white;
    /* untuk memberi jarak anatar baris atas dengan bawahnya */
    line-height: 30px;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.h11 {
    text-align: center;
    animation: muncul 2s ease;
}

.table-container {
    width: 100%;
}

.table-container td {
    vertical-align: top;
    padding: 15px;
}

.title {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    margin: 0;
    display: inline-block;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
    font-size: 30px;
    min-width: 300px;
    text-align: center;
}

hr {
    margin: 0;
    border: solid 1px #0f6177;
    animation: seratus 1s ease;
}

.profile {
    width: 50%;
}

.profile .title {
    /* animani profil */
    animation: dropkiri 0.5s ease;
}

.profile img {
    width: 200px;
    float: left;
    margin-right: 15px;
}

.skill .title {
    /*animasiskill*/
    animation: dropkanan 1s ease;
    -webkit-animation: dropkanan 1s ease;
}

.project .title {
    /* animasi project */
    animation: dropkiri 0.5s ease;
}

.experience .title .tabel {
    /* animasi Experience */
    animation: dropkiri 0.5s ease;
}

.education .title {
    /* animasi edukasi */
    animation: dropkanan 0.5s ease;
}

.contact .title {
    /* animasi project */
    animation: dropkiri 0.5s ease;
}

.biasa {
    /* animasi project */
    animation: dropkiri 0.5s ease;
}

.skill .content {
    background-color: #2a3836;
    color: #333333;
    padding: 10px;
}

.skill ul {
    margin: 0;
    list-style: none;
}

.skill li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1f1;
    color: #f1f1f1f1;
    transition: all 0.5s;
}

.skill .level1 {
    width: 70%;
    background-color: #0f6177;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    animation: dropskill1 1s ease;
}

.skill .level2 {
    background-color: #0f6177;
    width: 80%;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    animation: dropskill2 1s ease;
}

.skill .level3 {
    background-color: #0f6177;
    width: 50%;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    animation: dropskill3 1s ease;
}


/* tabel myExperience */

.tabel {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.tabel th {
    background-color: #0f6177;
    padding: 10px 15px;
}

.tabel td {
    padding: 10px 15px;
    color: #333333;
}


/* tabel data gENAP */

.tabel tr:nth-child(odd) {
    background-color: #999999;
}


/* tabel data ganjil */

.tabel tr:nth-child(even) {
    background-color: white;
}

.project .content {
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    /* borderbox membuat lebar tetap 25% meski ketambahan padding 15px */
}

.project img {
    width: 80%;
}

footer {
    background-color: rgb(34, 43, 46);
    padding: 15px 0px;
}

input[type="text"],
textarea {
    outline: none;
    padding: 10px 20px;
    background-color: #e8e8e8;
    font-family: helvetica;
    border: solid 3px #e8e8e8;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.5s;
}


/* apabila terfokus/yg di pilih */

input[type="text"]:focus,
textarea:focus {
    background-color: white;
    border: solid 3px #0b8389;
    transition: all 0.5s;
}

.form-group {
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border-radius: 15px;
}

button[type="submit"] {
    background-color: #0b8389;
    border-bottom: 3px solid #036a6f;
    color: white;
}

button[type="reset"] {
    background-color: #d12f2f;
    border-bottom: 3px solid #5c1212;
    color: white;
}

@keyframes muncul {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropkanan {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropkiri {
    0% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropskill1 {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes dropskill2 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes dropskill3 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes seratus {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}